body {
    background-color: black;
    display: flex;
    justify-content: center;
}

.gridContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 10px ridge purple;
    width: 600px;
    height: 600px;
}